<a href="/animals">See all animals</a>

<a href="/animals/new">Create New</a>

<table class="table table-striped">

<tr>
  <th>Image</th>
  <th>Name</th>
  <th>Kind</th>
  <th>Age</th>
  <th>Description</th>
  <th>Available For Adoption</th>
  <th></th>
  <th></th>
</tr>

{{#each adopted}}
<tr>
  <td><img src="{{this.img_url}}" alt=""></td>
  <td><a href="/animals/{{this.id}}">{{this.name}}<a/></td>
  <td>{{this.kind}}</td>
  <td>{{this.age}}</td>
  <td>{{this.description}}</td>
  <td><input type="checkbox" name="adopted" {{#if this.is_adopted}}checked="true"{{/if}} value="{{this.is_adopted}}"></td>
  <th>
    <form class="" action="/animals/{{this.id}}?_method=DELETE" method="POST">
      <input type="submit" class="btn btn-danger" name="delete" value="Delete">
    </th>
    </form>
  <td><button type="button" class="btn btn-info"><a href="/animals/{{this.id}}/edit">Edit</a></button></td>
</tr>
{{/each}}

</table>
